body {
    color: #ffeedd;
    background-color: #111111;
    font-family: monospace;
}

button {
    color: #ffbb77;
    background-color: #555555;
    border-color: #333333;
}

a:link { color: #ffbb77; text-decoration: none; }
a:visited { color: #ffbb77; text-decoration: none; }
a:active { color: #ffbb77; text-decoration: none; }
a:hover { color: #ffbb77; text-decoration: none; }

#left {
    position: absolute;
    top: 30px;
}

#middle {
    position: absolute;
    top: 30px;
    left: 500px;
}

#right {
    position: absolute;
    top: 30px;
    left: 1040px;
}
